/******* Nombres *******/
/* Existen 140 colores predefinidos con un nombre en particular (W3School) y currentColor*/
p {
    color: burlywood;
    background-color: darkorchid;
    opacity: 0.5;                   /* Transparencia que aplica para color, background y todos los elementos dentro */
}

/******* RGB y Hexadecimal (00 = 0 - FF = 255) *******/
p {
    color: rgb(163, 47, 176);
    color: rgb(230, 34, 99);
    color: rgba(230, 34, 99, 0.429);        /* Transparencia (canal alpha) 0.0 - 1.0 */ 
    background-color: #334455 ;
    background-color: #145 ;                /* Se duplica cada número (33 44 55) */
    background-color: #247ad0bb ;           /* Transparencia (canal alpha) 00 - ff */ 
}

/********* HSL ********/
/*  Hue - Tono: 0 - 360         El color en sí
    Saturation: 0% - 100%       Qué tan vivo o pálido es el color
    Ligthness - Brillo: 0% - 100%     Qué tan claro u oscuro es el color
*/
p {
    color: hsla(102, 61%, 47%, 0.506);
    color: hsla(150, 100%, 75%, 0.279);             /* Transparencia (canal alpha) 0.0 - 1.0 */ 
}