/* PSEUDO - ELEMENTOS */

selector::pseudoelemento {
    propiedad: valor;
}

::after {content: url(ruta);}
::before {content: "Texto";} /* content: img, texto */
::first-letter {font-size: 50px;}
::first-line {color: olive;}
::selection {background-color: aqua;}
::backdrop {}
::placeholder {}
::marker {}
::spelling-error {}
::grammar-error {}


/* https://developer.mozilla.org/en-US/docs/Web/CSS/::after */