/* CONTENEDORES
    width: ancho de caja
    height: alto de caja

    max-width: ancho máximo
    max-height: alto máximo
    
    min-width: ancho mínimo
    min-height: alto mínimo

    overflow: en caso de que el contenido se desborda del contenedor

*/